//- general -------------------------------------------------------------------
meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="language", content="English")
meta(
    name="author"
    content="Rahul Thakur"
)
meta(
    name="description"
    content="A news board"
)
meta(
    name="copyright"
    content="Rahul Thakur"
)


//- csrf ----------------------------------------------------------------------
meta(name="csrf_token" content="{{ csrf_token() }}")


//- title ---------------------------------------------------------------------
title HackerNews


//- enable responsiveness on mobile devices -----------------------------------
meta(name="HandheldFriendly", content="True")
meta(name="MobileOptimized", content="320")
meta(name="viewport", content="width=device-width, initial-scale=1.0")


//- css -----------------------------------------------------------------------
link(rel="stylesheet", href="/css/master.css")


//- icons ---------------------------------------------------------------------
link(rel="icon", type="image/png", href="favicon-32x32.png", sizes="32x32")
link(rel="icon", type="image/png", href="favicon-96x96.png", sizes="96x96")
link(rel="shortcut icon", href="favicon.ico")
